
/* 992px - 1200px */
@media screen and (max-width: 1200px) {
	.container {
		width: 960px;
	}
		
	.menu {
		font-size: 14px;
	}

	.recipes__items {
		padding: 40px 20px;
	}

	.recipes__item_photo {
		width: 300px;
	}

	.recipes__item {
		width: 300px;
	}

	.bananas__text {
		width: 360px;
	}	
 
	.bananas__text {
		width: 390px;
	}	
  }
	
	

/* 768px - 992px */
@media screen and (max-width: 992px) {
	.container {
		width: 720px;
	}

	.menu {
		padding: 40px 30px;
		font-size: 12px;
	}

	.menu__item {
		padding: 10px 5px;
	}

	.recipe {
    	padding-left: 40px;
	}


	.recipes__item {
		width: 220px;		
	}

	.recipes__item_photo {
		width: 220px;
	}

	.recipes__item_text {
		width: 220px;
	}

	.bananas {
		background-position: -250px;
	}

	.bananas__description {
    	margin-left: 310px;
	}
	
	.footer {
		padding: 0 30px;
		font-size: 10px;
	}

	.footer__nav_item a {
		padding: 10px 5px;
	}
}



/* 576px - 768px */
@media screen and (max-width: 768px) {
	.container {
		width: 540px;
	}

	.menu__items {
		display: none;
	}

	.recipes__items {
		flex-direction: column;
	}

	.recipes__item_photo {
		width: 313px;
	}

	.recipes__item {
		width: 313px;
		margin: auto;
		margin-bottom: 15px;
	}

	.selectedRecipe {
		display: none;
	}
	
	.footer__nav {
		display: none;
	}
}

/* 320px - 576px */
@media screen and (max-width: 576px) {
	.container {
		width: 90%;
	}

	.logo__img {
		width: 100%;
	}

	.menu__btn {
		padding: 10px;
	}

	.first {
    	background: #f8f8f8;
    	box-shadow: 1px 0 13px rgba(11, 12, 12, 0.15);
	}

	.recipe__logo img {
		width: 90%;
		margin: auto;
	} 

	.recipe__text {
		width: 90%;
	}

	.recipes__item_photo {
		width: 100%;
	}

	.recipes__item {
		width: 100%;
	}

	.footer {
		flex-direction: column;
		justify-content: center;
	}

	.footer__logo {
		margin-bottom: 10px;
	}

}

